@media (min-width: 1px) {
    .display-1 {
        font-size: 4rem
    }
}

@media (min-width: 576px) {
    .display-1 {
        font-size: 5rem
    }
}

@media (min-width: 768px) {
    .display-1 {
        font-size: 6rem
    }
}

.background-image {
    background-color: rgb(0, 255, 242);
    background-image: url("../images/wire.png");
}
.display-1{
    color: rgb(123, 255, 0);
    text-shadow: 5px 5px black;
}